#title-border {
  border: 12px solid darkgrey;
  padding: 4px;
  width: 730px;
  margin: 10px auto;
}
#title {
  border: 2px solid #D84315;
  padding: 50px;
  font-weight: bold;
  text-align: center;
  width: max-content;
  margin: 20px auto;
}
#intro {
  font-size: 1.5em;
  padding-bottom: 20px;
}
.list-el {
  font-style: italic;
}

.nav-bar {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #607D8B;
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
  width: 98%;
  font-size: 1.1em;
}
.nav-bar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar-link:hover {
  background-color: #556D79;
}
.nav-bar-option {
  float: left;
}
.active {
  background-color: #D84315;
}
.main-text {
  width: 740px;
  text-align: left;
  margin: 0px auto;

}
body {
  background-color: #E0E0E0;
}
p {
  text-align: left;
  width: 750px;
  font-size: 1.4em;
}
ol {
  width: max-content;
  font-size: 1.4em;

}
ul {
  width: max-content;
  font-size: 1.4em;
}
h2 {
  width: max-content;
}
div {
  margin: 20px auto;
}
